.App {
  text-align: center;
}

/*.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 800px;
}*/

.App-header {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  bottom: -40px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/